<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/updatePost">
  <input type="hidden" name="postId" value="<%= post._id %> " >
  Topic: 
  <select name="topic">
   <option <% if (post.topic=="school") {%> 
              selected  
           <% }%>  >
     school</option>
   <option <% if (post.topic=="home") {%> 
              selected  
           <% }%> >
     home</option>
  </select>
  Your message: <input type="text" name="message" value="<%= post.message %>"><br>
  <input type="submit">
</form>




<%- include('bootfooter') -%>
