<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/addToForum">
  Topic: 
  <select name="topic">
   <option>school</option>
   <option>home</option>
  </select>
  Your message: <input type="text" name="message"><br>
  <input type="submit">
</form>

<% posts.forEach(x => {%> 
   Topic: <%= x.topic %> <br>
   Messsage: <%= x.message %> <br>
   Time: <%= x.date %>
   User: <%= x.username %>
   
<% }) %>

<pre>
 <%= JSON.stringify(posts,null,2) %>
</pre>

<%- include('bootfooter') -%>
