<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/addToForum">
  Topic: 
  <select name="topic">
   <option>school</option>
   <option>home</option>
  </select>
  Your message: <input type="text" name="message"><br>
  <input type="submit">
</form>

<ol>
<% posts.forEach(x => {%> 
  
  <li>
   Topic: <%= x.topic %> <br>
   Messsage: <%= x.message %> <br>
   Time: <%= x.date %>
   User: <%= x.username %>
  </li>
  
<% }) %>
</ol>

<pre>
 <%= JSON.stringify(posts,null,2) %>
</pre>

<%- include('bootfooter') -%>
