<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/addToForum">
  Topic: 
  <select name="topic">
   <option>school</option>
   <option>home</option>
  </select>
  Your message: <input type="text" name="message"><br>
  <input type="submit">
</form>


<h3>
  Here are the messages as a table
</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>user</th><th>topic</th><th>message</th><th>date</th>
    </tr>
  </thead>
  <tbody>
<% posts.forEach(x => {%>  
  <tr>
           <td><%= x.author %></td> 
           <td><%= x.topic %></td>
           <td><%= x.message %></td>  
           <td><%= x.date %></td> 
           <td><% if (user._id == x.authorId) {%> 
             <a href="/deleteForumPost/<%= x._id %>">X</a>
               <% } %>
             <%= user._id %>  <%= x.authorId %>
           </td>
  </tr> 
<% }) %>
  </tbody>
</table>
<hr>

<h3>
  Here is the list of posts as a JSON object
</h3>
<pre>
 <%= JSON.stringify(posts,null,2) %>
</pre>

<%- include('bootfooter') -%>
