<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/addToForum">
  Topic: 
  <select name="topic">
   <option>school</option>
   <option>home</option>
  </select>
  Your message: <input type="text" name="message"><br>
  <input type="submit">
</form>
<h3>Here are all of the messages in one line</h3>
<% posts.forEach(x => {%>  
   <%= x.message %>,
<% }) %>

and here as a list
<ul>
  <% posts.forEach(x => {%>  
    <li><%= x.message %></li>
  <% }) %>
</ul>

<h3>
  Here are the messages as a table
</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>user</th><th>topic</th><th>message</th>
    </tr>
  </thead>
  <tbody>
<% posts.forEach(x => {%>  
  <tr>
           <td><%= x.username %></td> 
           <td><%= x.topic %></td>
           <td><%= x.message %></td>           
  </tr> 
<% }) %>
  </tbody>
</table>

<pre>
 <%= JSON.stringify(posts,null,2) %>
</pre>

<%- include('bootfooter') -%>
