<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  Play the game
</h1>
Type in your move and hit submit! <br>
<%= new Date() %><br>
<form method="post" action="/playingGame">
  <input type="hidden" name="gamePIN" value="<%= gamePIN %>"><br>
  Your move: <input type="text" name="answer"><br>
  
  <input type="submit">
</form>
<hr>
<% if (isAdmin) {%> 
<h2>
  You are the administrator of this game!
</h2>
<%} else {%> 
  You are a regular player...
<% } %>
<%- include('bootfooter') -%>
