<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  GamePIN is <%= gamePIN %>
</h1>
<%= new Date() %><br>
<%= state.status %>
<%= state.state %>
<%= state.stage %>
<!-- add a form to send a private message to a username -->

<hr>
<% answers.forEach( x => {%> 
  <hr>
  <%= x.username %>: <%= x.answer %>
  <form method="post" action="/sendPrivateMessage">
    <input type="hidden" name="user" value="<%= x.username %>">
    <input type="hidden" name="gamePIN" value="<%= x.gamePIN %>">
    message: <input type="text" name="privateMessage"><br>
    <input type="submit">
  </form>
   <!--  have a form for selecting a user as a detective, doctor, mafia -->
<% }) %>

  <hr>
<a href="/endGame/<%= gamePIN %>">End this game</a>
<%- include('bootfooter') -%>
