<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Contact Tracing App 2020</h1>
        <p>Help remember who you were with and when and where</p>
    </div>

<!--  Need a form to get 
      data, where, who, howlong, description 
  and send to /addContact -->

<% if (loggedIn) {%>  
<h2>
  Enter your contact info here <%= user.googlename %>/<%= user.googleemail %>
</h2>
<form method="post" action="/addContact">
  Where did you make contact?
  <input type="text" name="where"> <br>
  Who did you make contact with?
  <input type="text" name="who"> <br>
  For how long did you meet with them?
  <input type="text" name="howLong"> <br>
  Description of meeting:
  <input type="text" name="description"><br>
  <input type="submit" value="store contact">
</form>




<% } else {%>  
   You must login to use the Contact Tracing App 
<%  } %>

   <% contacts.forEach(contact => {%>
   <div style="">
    
     <%= contact.when %> <br>
     <%= contact.who %> <br>
     <%= contact.howLong %> <br>
     <%= contact.where %> <br>
     <%= contact.description %>
   </div>

   <% }) %>

<%- include('bootfooter') -%>
